<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/add_task.css')}}">

</head>
<body>
{% if flag %}
<script>alert("{{flag}}");</script>
{% endif %}
<form class="for_tests" enctype="multipart/form-data" id="formadd" name="formadd_point" method="post" action=""><p>
    Задача:
    <select name="namepoint">
        {% for opt in option %}
        <option>{{ opt }}</option>
        {% endfor %}
    </select>
</p>Решение: <input name="tests" type=file class="files" accept=".py" required=""/>
    <p>

        <button type="submit" class="btn btn-primary">Загрузить</button>
    </p>
</form>
        <a href="{{url_for('user')}}">
            <button>Вернуться</button></a>
</body>
</html>